<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Users\User\Documents\JumiaTest\com.jumia.Jumia\src\test\java\com.jumia.Jumia.java">
        <classes>
            <class name="com.jumia.Jumia">
                <methods>
                    <include name="clickLogIn"/>
                    <include name="exitPage"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>