<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/Documents/Monosnap/src/test/java/com/monosnap/MonosnapTest.java">
        <classes>
            <class name="com.monosnap.MonosnapTest">
                <methods>
                    <include name="clickLogIn"/>
                    <include name="verifyItem"/>
                    <include name="exitPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>